@font-face {
    font-family: "cornella";
    src: url(./cornella-Regular.otf) format("opentype");
}

*{
    font-family: "cornella";
}


body{
    background-color: #fcffd7;
}

img {
    max-height: 500px;
    height: auto;
}

html {
    scroll-behavior: smooth;
}



::-webkit-scrollbar-track-piece {
    background-color: #eaeeb2;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: #eea332;
    border-radius: 30px;
    border: #ffc369 solid 2px;
}

::-webkit-scrollbar {
    width: 10px;
}


/* home page style */

#heading{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

#heading h1{
    max-height: 200px;
    min-height: 100px;
    font-size: 100px;
    color: #000000;
}
.outlinedOuter {
    justify-content: center;
    align-items: center;
    display: flex;
}

.outlined {
    padding: 50px;
    background-color: #ffffff;
    font-size: 25px;
}

#inactive {
    background-color: #a5a5a5;
    color: #565656;
    cursor: default;            
}

#setupGuides {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

#setupGuidesOuter {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    padding: 20px;
}

#startLearn {
    justify-content: center;
    align-items: center;
    display: grid;
    justify-items: center;
}


.newPage {
    padding-left: 50px;
    padding-right: 50px;
    align-self: auto;
    border: 2px solid #9969209c;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px -5px 60px 0px #eea332;
    margin: 50px;
    cursor: pointer;
}

#smallHeading {
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#smallHeading h2{
    font-size: larger;
}

/* guide style */

.guideOuter {
    justify-content: stretch;
    align-items: center;
    display: flex;
    padding: 20px;
}

.jumpTo li {
    list-style-type: none;
}

.home li {
    list-style-type: none;
}

.navigation {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #eaeeb2;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    
}

.navigation a {
    color: #565656;
    text-decoration: none;
}

.navigation .home a{
    color: #2c2c2c;
    font-size: larger;
}

.guide {
    width: 70%;
    margin-left: 30vw;
}

.column {
    float: left;
}

@media screen and (max-width: 750px) {
  .column {
    width: 100%;
  }

  img {
    max-width: 80vw;
  }

  .jumpTo {
    display: none;
  }

  .navigation {
    top: 0;
    width: 96%;
    height: 50px;
    position: fixed;
    z-index: 1;
    align-content: center;
    justify-content: center;
    display: inline-flex;
  }


  .guide {
    padding-top: 60px;
    margin-left: -5%;
    width: 100vw;
    text-wrap: pretty;
  }

}